<section class="container mt-5">

  <mat-card appearance="outlined" class="mt-5">

    <mat-card-header class="mt-5">
      <mat-card-title></mat-card-title>
    </mat-card-header>

    <mat-card-content class="mt-3">
      <mat-card-subtitle class="mt-3"></mat-card-subtitle>
      <div class="information">

        <p>Id: {{current.id}}</p>
        <p>Presupuesto asociado: {{current.quoteId}}</p>
        <p>Cliente asociado: {{current.clientId}}</p>
        <p>Fecha de creación: {{current.creationDate}}</p>
        <p>Fecha de entrega: {{current.deliveryDate}}</p>
        <p>Método de pago: {{current.paymentMethod}}</p>
        <p>Estatus: {{current.status}}</p>
        <p>Notas: {{current.notes}}</p>

      </div>
    </mat-card-content>

  </mat-card>

</section>
