<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <div class="collapse navbar-collapse">
      <ul class="nav-item-list navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="pages/bom" class="nav-link">Bills of material</a>
        </li>
        <li class="nav-item">
          <a href="pages/client" class="nav-link">clientes</a>
        </li >
        <li class="nav-item">
          <a href="pages/material/template" class="nav-link">materiales</a>
        </li>
        <li class="nav-item">
          <a href="pages/order" class="nav-link">ordenes</a>
        </li>
        <li class="nav-item">
          <a href="pages/product" class="nav-link">productos</a>
        </li>
        <li class="nav-item">
          <a href="pages/quote" class="nav-link">presupuestos</a>
        </li>
    </ul>
    </div>

  </div>

</nav>
