<section class="container-mt-5">

  <mat-card appearance="outlined" class="mt-5">

    <mat-card-header class="mt-5">

      <mat-card-title>{{current.name}}</mat-card-title>

    </mat-card-header>

    <mat-card-content class="mt-3">

      <mat-card-subtitle>Información del producto</mat-card-subtitle>

      <div class="information mt-3">
        <p>Nombre: {{current.name}}</p>
        <p>Bill of materials: {{current.bomId}}</p>
        <p>Dimensiones: {{current.dimensions}}</p>
      </div>

    </mat-card-content>

  </mat-card>

</section>
